/* Universal Selector */

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-size: x-large;
    font-weight: bolder;
    color: rgb(201, 2, 124);
}

img {
    height: 400px;
    width: 400px;
    border-radius: 10%;

}

a {
    text-decoration: none;
    color: cornflowerblue;
}
p {
    font-size: larger;
    color: black;
}
body {
    background-color: rgba(255, 236, 246, 0.945);
}
h2 ~p {
    font-size: large;
    color: darkblue;
}
a::before {
    content: "navigation links";
    color: red;
}

p::after {
    content: " - end of paragraph";
    color: yellow;
}

#about {
    background-color: rgb(172, 90, 175);
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}
#menu {
    background-color: rgb(247, 46, 170);
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}

.card-title {
    color: darkgreen;
}